CMakeCache.txt
CMakeLists.txt.user.bak
CMakeLists.txt.user
CMakeFiles
*.o

ConfigPage
ConfigPage.cbp
ConfigPage.pro.bak
ConfigPage.pro.user.bak
ConfigPage_*
ConfigPage.pro.user.*
Makefile
cmake_install.cmake
doc
log/*
logo/*
profiles/*
certificates/*

UnitTest*
moc_*
#moc_mainwindow.cpp
CTestTestfile.cmake
Testing
libConfigPage_*
ConfigPage_LIB*
*_automoc.cpp
*.a

ui_mainwindow.h

Vortrag/presentation.*
